body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#inicio-secion {
    background-image: url("./imgs/5aWJx9S7w00.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
  }
  
  